<div class="row">
  <h1>Focus</h1>
</div>

<div class="row">
  <p>Focus is a new application to help manage and track your time.</p>
  <p>Using the pomodoro technique this application helps you break youe tasks down into managable subtasks, placing an estimated number of pomodoro cycles that it will take you to complete your task.</p>
</div>


<div class="row">
  <h2>The Pomodoro Technique</h2>
  <p></p>

  <h3>The Benefit</h3>
  <p></p>
</div>


<div class="row">
  <h2>Using Focus</h2>
  <p>
    After signing up, you can create a set of tasks, remember, keep yours task as broad as you can. We will save the specifics for the subtasks. Some good examples of tasks include:
  </p>
  <ul>
    <li>Clean the House</li>
    <li>Study for Calculus Exam</li>
    <li>Program that App</li>
  </ul>

  <p>When you create your tasks, you don't just give a name to the task, you give an estimate of how many pomodoro's you believe that task/subtask will take you!</p>

  <p>Once you have a good set of tasks, lets move onto subtasks. Subtasks are where you get specfic, some good examples of subtasks include:</p>

  <ul>
    <li>Organize the kitchen cabnets</li>
    <li>Learn integration by parts</li>
    <li>Design a user interface</li>
  </ul>

  <p>Great, you're ready to start tackling the list! I suggest you start with the subtasks, open up a task by clicking it. To start a pomodoro cycle, click the start button on the clock.</p>
</div>
